pkgbase = reconninja
	pkgdesc = Autonomous multi-phase security reconnaissance framework
	pkgver = 10.1.0
	pkgrel = 1
	url = https://github.com/ExploitCraft/ReconNinja
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-pytest
	depends = python>=3.10
	depends = python-rich
	depends = python-dotenv
	depends = python-requests
	depends = python-dnspython
	depends = python-beautifulsoup4
	depends = python-cryptography
	depends = python-yaml
	depends = python-ldap3
	depends = python-whois
	depends = python-ipwhois
	depends = python-flask
	optdepends = python-groq
	optdepends = python-openai
	optdepends = python-google-generativeai
	optdepends = python-shodan
	optdepends = python-pymongo
	optdepends = python-pysnmp
	optdepends = python-weasyprint
	optdepends = python-fpdf2
	optdepends = python-impacket
	optdepends = python-bloodhound-python
	optdepends = python-neo4j
	optdepends = python-prometheus-client
	optdepends = python-opentelemetry-api
	optdepends = python-textual
	optdepends = nmap
	optdepends = masscan
	optdepends = rustscan
	optdepends = subfinder
	optdepends = amass
	optdepends = assetfinder
	optdepends = httpx-bin
	optdepends = whatweb
	optdepends = nikto
	optdepends = feroxbuster
	optdepends = ffuf
	optdepends = dirsearch
	optdepends = gobuster
	optdepends = sqlmap
	optdepends = wfuzz
	optdepends = nuclei
	optdepends = aquatone
	optdepends = gowitness
	optdepends = wafw00f
	optdepends = bind-tools
	optdepends = dnsx
	optdepends = whois
	optdepends = seclists
	optdepends = net-tools
	optdepends = curl
	optdepends = gpg
	source = reconninja::git+https://github.com/ExploitCraft/ReconNinja.git#tag=v10.1.0
	sha256sums = SKIP

pkgname = reconninja
